# New York Schools Analysis
Given the schools.csv dataset, determine the top math schools, the top performing schools, and the borough with the largest standard deviation of SAT scores.

In [2]:
import pandas as pd

# Read and preview the data
schools = pd.read_csv("schools.csv")
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [3]:
# Filter the data for high math scores and sort.
best_math_schools = schools[schools["average_math"] > 0.8*800]
best_math_schools = best_math_schools[["school_name","average_math"]]
best_math_schools = best_math_schools.sort_values("average_math", ascending=False)

# Show the schools with the best math scores
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [4]:
# Add new column for Total SAT to original DFrame, sort and limit to 10 best schools
schools["total_SAT"]=schools["average_math"] + schools["average_reading"]+ schools["average_writing"]
sorted_schools = schools.sort_values("total_SAT", ascending=False)
top_10_schools= sorted_schools[["school_name", "total_SAT"]].head(10)

# Show the top ten schools
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [7]:
# Get the number of schools, mean SAT and std SAT per burough.
schools_stats = schools.groupby("borough")["total_SAT"].agg(["count", "mean","std"]).round(2)
max_std = schools_stats["std"].max()

# Get the borough with the largest standard deviation and rename columns
largest_std_dev = schools_stats[schools_stats["std"] == max_std]
largest_std_dev = largest_std_dev.rename(columns = {"count":"num_schools","mean":"average_SAT", "std":"std_SAT"})

# Show the borough with the largest std
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29